n8n/flow1-bot-deployment-v6.json
{
  "name": "Flow 1 — Bot Deployment v6",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zoom-webhook",
        "options": {}
      },
      "id": "node-zoom-webhook",
      "name": "Zoom Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-800, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event }}",
              "value2": "meeting.started"
            }
          ]
        }
      },
      "id": "node-check-event",
      "name": "Is meeting.started?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-580, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract Zoom meeting details from webhook payload\nconst payload = $input.item.json.body;\nconst meetingId = String(payload.payload?.object?.id || payload.payload?.id || '');\nconst hostEmail = payload.payload?.object?.host_email || '';\nconst topic = payload.payload?.object?.topic || 'Pragmatico Session';\nconst startTime = payload.payload?.object?.start_time || new Date().toISOString();\nconst date = startTime.split('T')[0];\n\nif (!meetingId) throw new Error('No meeting_id found in Zoom webhook payload');\n\nreturn [{ json: { meetingId, hostEmail, topic, startTime, date } }];"
      },
      "id": "node-extract-meeting",
      "name": "Extract Meeting Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-360, 300]
    },
    {
      "parameters": {
        "operation": "readSheet",
        "documentId": "CHANGE_THIS_GOOGLE_SHEET_ID",
        "sheetName": "Sessions",
        "options": {}
      },
      "id": "node-read-sessions",
      "name": "Read Sessions Whitelist",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHANGE_THIS_CREDENTIAL_ID",
          "name": "Google Sheets — Pragmatico"
        }
      },
      "position": [-140, 300]
    },
    {
      "parameters": {
        "jsCode": "const meetingId = $('Extract Meeting Info').item.json.meetingId;\nconst sessions = $input.all();\n\n// Check if this meeting_id is in the Sessions whitelist\nconst found = sessions.find(s => String(s.json.meeting_id) === String(meetingId));\n\nif (!found) {\n  return [{ json: { inWhitelist: false, meetingId } }];\n}\n\nreturn [{\n  json: {\n    inWhitelist: true,\n    meetingId,\n    sessionTitle: found.json.session_title || $('Extract Meeting Info').item.json.topic,\n    date: found.json.date || $('Extract Meeting Info').item.json.date,\n    expectedAttendees: found.json.expected_attendees || ''\n  }\n}];"
      },
      "id": "node-check-whitelist",
      "name": "Is Meeting in Whitelist?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [80, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.inWhitelist }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-if-whitelisted",
      "name": "In Whitelist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "url": "https://zoom.us/oauth/token?grant_type=account_credentials&account_id=CHANGE_THIS_ZOOM_ACCOUNT_ID",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "CHANGE_THIS_ZOOM_BASIC_AUTH"
            }
          ]
        },
        "options": {}
      },
      "id": "node-get-token",
      "name": "Get Zoom OAuth Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 300]
    },
    {
      "parameters": {
        "url": "=https://api.zoom.us/v2/meetings/{{ $('Extract Meeting Info').item.json.meetingId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-get-meeting",
      "name": "Get Meeting Join URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [740, 300]
    },
    {
      "parameters": {
        "url": "https://us-west-2.recall.ai/api/v1/bot/",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "CHANGE_THIS_RECALL_API_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meeting_url\": \"{{ $json.join_url }}\",\n  \"bot_name\": \"Pragmatico Recorder 1\",\n  \"metadata\": {\n    \"meeting_id\": \"{{ $('Extract Meeting Info').item.json.meetingId }}\",\n    \"session_title\": \"{{ $('Is Meeting in Whitelist?').item.json.sessionTitle }}\",\n    \"bot_number\": \"1\"\n  }\n}",
        "options": {}
      },
      "id": "node-create-bot1",
      "name": "Create Bot 1 — Main Room",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 200]
    },
    {
      "parameters": {
        "url": "https://us-west-2.recall.ai/api/v1/bot/",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "CHANGE_THIS_RECALL_API_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meeting_url\": \"{{ $('Get Meeting Join URL').item.json.join_url }}\",\n  \"bot_name\": \"Pragmatico Recorder 2\",\n  \"metadata\": {\n    \"meeting_id\": \"{{ $('Extract Meeting Info').item.json.meetingId }}\",\n    \"session_title\": \"{{ $('Is Meeting in Whitelist?').item.json.sessionTitle }}\",\n    \"bot_number\": \"2\"\n  }\n}",
        "options": {}
      },
      "id": "node-create-bot2",
      "name": "Create Bot 2 — Breakout 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 300]
    },
    {
      "parameters": {
        "url": "https://us-west-2.recall.ai/api/v1/bot/",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "CHANGE_THIS_RECALL_API_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"meeting_url\": \"{{ $('Get Meeting Join URL').item.json.join_url }}\",\n  \"bot_name\": \"Pragmatico Recorder 3\",\n  \"metadata\": {\n    \"meeting_id\": \"{{ $('Extract Meeting Info').item.json.meetingId }}\",\n    \"session_title\": \"{{ $('Is Meeting in Whitelist?').item.json.sessionTitle }}\",\n    \"bot_number\": \"3\"\n  }\n}",
        "options": {}
      },
      "id": "node-create-bot3",
      "name": "Create Bot 3 — Breakout 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 400]
    },
    {
      "parameters": {
        "jsCode": "// Collect all 3 bot IDs from previous nodes\nconst bot1 = $('Create Bot 1 — Main Room').item.json;\nconst bot2 = $('Create Bot 2 — Breakout 1').item.json;\nconst bot3 = $('Create Bot 3 — Breakout 2').item.json;\nconst meetingInfo = $('Extract Meeting Info').item.json;\nconst sessionInfo = $('Is Meeting in Whitelist?').item.json;\n\nif (!bot1.id || !bot2.id || !bot3.id) {\n  throw new Error('One or more bots failed to create. IDs: ' + [bot1.id, bot2.id, bot3.id].join(', '));\n}\n\nreturn [{\n  json: {\n    meetingId: meetingInfo.meetingId,\n    sessionTitle: sessionInfo.sessionTitle,\n    date: sessionInfo.date,\n    bot1Id: bot1.id,\n    bot2Id: bot2.id,\n    bot3Id: bot3.id,\n    status: 'recording',\n    expectedAttendees: sessionInfo.expectedAttendees\n  }\n}];"
      },
      "id": "node-collect-bots",
      "name": "Collect Bot IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "CHANGE_THIS_GOOGLE_SHEET_ID",
        "sheetName": "Sessions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "meeting_id": "={{ $json.meetingId }}",
            "bot1_id": "={{ $json.bot1Id }}",
            "bot2_id": "={{ $json.bot2Id }}",
            "bot3_id": "={{ $json.bot3Id }}",
            "status": "recording"
          }
        },
        "matchingColumns": ["meeting_id"],
        "options": {}
      },
      "id": "node-update-sheet",
      "name": "Save Bot IDs to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHANGE_THIS_CREDENTIAL_ID",
          "name": "Google Sheets — Pragmatico"
        }
      },
      "position": [1420, 300]
    }
  ],
  "connections": {
    "Zoom Webhook": {
      "main": [[{ "node": "Is meeting.started?", "type": "main", "index": 0 }]]
    },
    "Is meeting.started?": {
      "main": [
        [{ "node": "Extract Meeting Info", "type": "main", "index": 0 }],
        []
      ]
    },
    "Extract Meeting Info": {
      "main": [[{ "node": "Read Sessions Whitelist", "type": "main", "index": 0 }]]
    },
    "Read Sessions Whitelist": {
      "main": [[{ "node": "Is Meeting in Whitelist?", "type": "main", "index": 0 }]]
    },
    "Is Meeting in Whitelist?": {
      "main": [[{ "node": "In Whitelist?", "type": "main", "index": 0 }]]
    },
    "In Whitelist?": {
      "main": [
        [{ "node": "Get Zoom OAuth Token", "type": "main", "index": 0 }],
        []
      ]
    },
    "Get Zoom OAuth Token": {
      "main": [[{ "node": "Get Meeting Join URL", "type": "main", "index": 0 }]]
    },
    "Get Meeting Join URL": {
      "main": [
        [{ "node": "Create Bot 1 — Main Room", "type": "main", "index": 0 }],
        [{ "node": "Create Bot 2 — Breakout 1", "type": "main", "index": 0 }],
        [{ "node": "Create Bot 3 — Breakout 2", "type": "main", "index": 0 }]
      ]
    },
    "Create Bot 1 — Main Room": {
      "main": [[{ "node": "Collect Bot IDs", "type": "main", "index": 0 }]]
    },
    "Create Bot 2 — Breakout 1": {
      "main": [[{ "node": "Collect Bot IDs", "type": "main", "index": 1 }]]
    },
    "Create Bot 3 — Breakout 2": {
      "main": [[{ "node": "Collect Bot IDs", "type": "main", "index": 2 }]]
    },
    "Collect Bot IDs": {
      "main": [[{ "node": "Save Bot IDs to Sheet", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
