n8n/flow2-collect-merge-v5.json
{
  "name": "Flow 2 — Collect Recordings + Trigger Merge v5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recall-webhook",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Recall Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-600, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event }}",
              "value2": "recording.done"
            }
          ]
        }
      },
      "id": "node-check-event",
      "name": "Is recording.done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-380, 300]
    },
    {
      "parameters": {
        "url": "=https://us-west-2.recall.ai/api/v1/bot/{{ $json.body.data.bot.id }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "CHANGE_THIS_RECALL_API_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "id": "node-get-bot",
      "name": "Get Bot from Recall",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-160, 300]
    },
    {
      "parameters": {
        "jsCode": "const bot = $input.item.json;\nconst webhookBotId = $('Recall Webhook').item.json.body.data.bot.id;\nconst webhookRecordingId = $('Recall Webhook').item.json.body.data.recording.id;\nconst receivedAt = $('Recall Webhook').item.json.body.data.data.updated_at;\n\nconst recordings = bot.recordings || [];\nif (recordings.length === 0) {\n  throw new Error('No recordings on bot ' + bot.id + ' — status: ' + JSON.stringify(bot.status_changes));\n}\n\nconst rec = recordings[0];\nconst s = rec.media_shortcuts || {};\n\nconst videoUrl =\n  s?.video_mixed_mp4?.data?.download_url ||\n  s?.video_mixed?.data?.download_url ||\n  s?.speaker_timeline_video?.data?.download_url ||\n  bot.video_url ||\n  null;\n\nif (!videoUrl) {\n  throw new Error('No video URL found. Available shortcuts: ' + Object.keys(s).join(', '));\n}\n\nreturn [{\n  json: {\n    botId: webhookBotId,\n    recordingId: webhookRecordingId,\n    videoUrl,\n    botName: bot.bot_name || 'Unknown Bot',\n    receivedAt\n  }\n}];"
      },
      "id": "node-extract-url",
      "name": "Extract Video URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [60, 300]
    },
    {
      "parameters": {
        "operation": "readSheet",
        "documentId": "CHANGE_THIS_GOOGLE_SHEET_ID",
        "sheetName": "Sessions",
        "options": {}
      },
      "id": "node-read-sessions",
      "name": "Read Sessions Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHANGE_THIS_CREDENTIAL_ID",
          "name": "Google Sheets — Pragmatico"
        }
      },
      "position": [280, 300]
    },
    {
      "parameters": {
        "jsCode": "const botId = $('Extract Video URL').item.json.botId;\nconst sessions = $input.all();\n\n// Find the session row that contains this botId in any of the 3 bot columns\nconst session = sessions.find(s => \n  s.json.bot1_id === botId || \n  s.json.bot2_id === botId || \n  s.json.bot3_id === botId\n);\n\nif (!session) {\n  throw new Error('Bot ' + botId + ' not found in any session — this meeting is not tracked.');\n}\n\nreturn [{\n  json: {\n    meetingId: session.json.meeting_id,\n    sessionTitle: session.json.session_title,\n    sessionDate: session.json.date,\n    botId: $('Extract Video URL').item.json.botId,\n    videoUrl: $('Extract Video URL').item.json.videoUrl,\n    receivedAt: $('Extract Video URL').item.json.receivedAt\n  }\n}];"
      },
      "id": "node-find-session",
      "name": "Find Session for Bot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": "CHANGE_THIS_GOOGLE_SHEET_ID",
        "sheetName": "Bot Recordings",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "meeting_id": "={{ $json.meetingId }}",
            "bot_id": "={{ $json.botId }}",
            "video_url": "={{ $json.videoUrl }}",
            "recorded_at": "={{ $json.receivedAt }}"
          }
        },
        "options": {}
      },
      "id": "node-append-recording",
      "name": "Store Recording URL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHANGE_THIS_CREDENTIAL_ID",
          "name": "Google Sheets — Pragmatico"
        }
      },
      "position": [720, 300]
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "node-wait-concurrent",
      "name": "Wait 4s (concurrent writes)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [940, 300]
    },
    {
      "parameters": {
        "operation": "readSheet",
        "documentId": "CHANGE_THIS_GOOGLE_SHEET_ID",
        "sheetName": "Bot Recordings",
        "options": {}
      },
      "id": "node-read-recordings",
      "name": "Read All Recordings",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHANGE_THIS_CREDENTIAL_ID",
          "name": "Google Sheets — Pragmatico"
        }
      },
      "position": [1160, 300]
    },
    {
      "parameters": {
        "jsCode": "const meetingId = $('Find Session for Bot').item.json.meetingId;\nconst allRows = $input.all();\n\n// Filter recordings for this specific meeting\nconst sessionRecordings = allRows.filter(r => r.json.meeting_id === meetingId);\n\nconst count = sessionRecordings.length;\nconst urls = sessionRecordings.map(r => r.json.video_url).filter(Boolean);\n\nconsole.log(`Meeting ${meetingId}: ${count} recording(s) collected`);\n\nif (count < 3) {\n  // Not all bots have reported yet — this execution stops here.\n  // The execution triggered by the 3rd bot will handle the merge.\n  return [{ json: { ready: false, count, meetingId } }];\n}\n\n// All 3 recordings are in — this execution handles the merge\nreturn [{\n  json: {\n    ready: true,\n    count,\n    meetingId,\n    sessionTitle: $('Find Session for Bot').item.json.sessionTitle,\n    sessionDate: $('Find Session for Bot').item.json.sessionDate,\n    recordingUrl1: urls[0] || '',\n    recordingUrl2: urls[1] || '',\n    recordingUrl3: urls[2] || ''\n  }\n}];"
      },
      "id": "node-check-count",
      "name": "Check Recording Count",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1380, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.ready }}",
              "value2": true
            }
          ]
        }
      },
      "id": "node-if-ready",
      "name": "All 3 Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1600, 300]
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/dancrrza/pragmatico-automations/actions/workflows/merge-recordings.yml/dispatches",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer CHANGE_THIS_GITHUB_PAT"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"main\",\n  \"inputs\": {\n    \"recording_url_1\": \"{{ $json.recordingUrl1 }}\",\n    \"recording_url_2\": \"{{ $json.recordingUrl2 }}\",\n    \"recording_url_3\": \"{{ $json.recordingUrl3 }}\",\n    \"session_title\": \"{{ $json.sessionTitle }}\",\n    \"session_date\": \"{{ $json.sessionDate }}\",\n    \"meeting_id\": \"{{ $json.meetingId }}\"\n  }\n}",
        "options": {}
      },
      "id": "node-trigger-github",
      "name": "Trigger GitHub Actions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1820, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "CHANGE_THIS_GOOGLE_SHEET_ID",
        "sheetName": "Sessions",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "meeting_id": "={{ $('Check Recording Count').item.json.meetingId }}",
            "status": "merging"
          }
        },
        "options": {}
      },
      "id": "node-update-status",
      "name": "Update Session Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CHANGE_THIS_CREDENTIAL_ID",
          "name": "Google Sheets — Pragmatico"
        }
      },
      "position": [2040, 200]
    }
  ],
  "connections": {
    "Recall Webhook": {
      "main": [[{ "node": "Is recording.done?", "type": "main", "index": 0 }]]
    },
    "Is recording.done?": {
      "main": [
        [{ "node": "Get Bot from Recall", "type": "main", "index": 0 }],
        []
      ]
    },
    "Get Bot from Recall": {
      "main": [[{ "node": "Extract Video URL", "type": "main", "index": 0 }]]
    },
    "Extract Video URL": {
      "main": [[{ "node": "Read Sessions Sheet", "type": "main", "index": 0 }]]
    },
    "Read Sessions Sheet": {
      "main": [[{ "node": "Find Session for Bot", "type": "main", "index": 0 }]]
    },
    "Find Session for Bot": {
      "main": [[{ "node": "Store Recording URL", "type": "main", "index": 0 }]]
    },
    "Store Recording URL": {
      "main": [[{ "node": "Wait 4s (concurrent writes)", "type": "main", "index": 0 }]]
    },
    "Wait 4s (concurrent writes)": {
      "main": [[{ "node": "Read All Recordings", "type": "main", "index": 0 }]]
    },
    "Read All Recordings": {
      "main": [[{ "node": "Check Recording Count", "type": "main", "index": 0 }]]
    },
    "Check Recording Count": {
      "main": [[{ "node": "All 3 Ready?", "type": "main", "index": 0 }]]
    },
    "All 3 Ready?": {
      "main": [
        [{ "node": "Trigger GitHub Actions", "type": "main", "index": 0 }],
        []
      ]
    },
    "Trigger GitHub Actions": {
      "main": [[{ "node": "Update Session Status", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
