n8n-workflows/pragmatico-tracking.json
{
  "name": "Pragmatico — Watch Tracking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "video-watch",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wt-001",
      "name": "Video Watch Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "video-watch-webhook-v1"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": { "responseCode": 200 }
      },
      "id": "wt-002",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst email       = body.email       || '';\nconst sessionId   = body.sessionId   || '';\nconst sessionDate = body.sessionDate || '';\nconst event       = body.event       || '';\nconst pctWatched  = body.pctWatched  || 0;\nconst maxReached  = body.maxReached  || 0;\nconst duration    = body.duration    || 0;\nconst completed   = pctWatched >= 80;\nconst now = new Date().toISOString();\nconsole.log('[Watch]', email, sessionId, event, pctWatched + '%');\nreturn [{ json: { email, sessionId, sessionDate, event, pctWatched, maxReached, duration, completed, now } }];"
      },
      "id": "wt-003",
      "name": "Parse Watch Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "lookup",
        "documentId": { "value": "REPLACE_WITH_SHEET_ID", "__rl": true, "mode": "id" },
        "sheetName": { "value": "={{ $json.sessionDate }}", "__rl": true, "mode": "name" },
        "lookupColumn": "Email",
        "lookupValue": "={{ $json.email }}",
        "options": { "returnAllMatches": false }
      },
      "id": "wt-004",
      "name": "Find Employee Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 300],
      "credentials": { "googleSheetsOAuth2Api": { "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "jsCode": "const watch  = $('Parse Watch Event').first().json;\nconst row    = $input.first().json;\nconst rowNum = row['row_number'] || null;\n\nif (!rowNum) {\n  console.log('[Watch] No row found for', watch.email, 'in tab', watch.sessionDate);\n  return [{ json: { skip: true } }];\n}\n\nconst alreadyCompleted = row['Completed'] === 'YES';\nconst prevPct = parseInt(row['% Watched'] || '0');\nconst newPct  = Math.max(prevPct, watch.pctWatched);\nconst completed = newPct >= 80 || alreadyCompleted;\n\nreturn [{ json: {\n  rowNumber:  rowNum,\n  sessionDate: watch.sessionDate,\n  pctWatched: newPct,\n  lastActivity: watch.now,\n  completed: completed ? 'YES' : 'NO',\n  firstOpened: row['First Opened'] || watch.now,\n  skip: false\n} }];"
      },
      "id": "wt-005",
      "name": "Calculate Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.skip }}", "value2": "true" }]
        }
      },
      "id": "wt-006",
      "name": "Skip if not found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "value": "REPLACE_WITH_SHEET_ID", "__rl": true, "mode": "id" },
        "sheetName": { "value": "={{ $json.sessionDate }}", "__rl": true, "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.rowNumber }}",
            "% Watched":    "={{ $json.pctWatched }}",
            "Last Activity": "={{ $json.lastActivity }}",
            "First Opened": "={{ $json.firstOpened }}",
            "Completed":    "={{ $json.completed }}"
          },
          "matchingColumns": ["row_number"]
        },
        "options": {}
      },
      "id": "wt-007",
      "name": "Update Watch Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1560, 180],
      "credentials": { "googleSheetsOAuth2Api": { "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recording-merged",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "rm-001",
      "name": "Recording Merged Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 700],
      "webhookId": "recording-merged-webhook-v1"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": { "responseCode": 200 }
      },
      "id": "rm-002",
      "name": "Respond 200 (Merged)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 700]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst meetingId   = body.meeting_id   || '';\nconst sessionDate = body.session_date || '';\nconst sessionTitle = body.session_title || 'Pragmatico Session';\nconst videoUrl    = body.video_url    || '';\nconsole.log('[Merged] meeting:', meetingId, 'date:', sessionDate, 'url:', videoUrl);\nreturn [{ json: { meetingId, sessionDate, sessionTitle, videoUrl } }];"
      },
      "id": "rm-003",
      "name": "Parse Merged Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 700]
    },
    {
      "parameters": {
        "url": "=https://api.zoom.us/v2/report/meetings/{{ $json.meetingId }}/participants",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Authorization", "value": "Bearer REPLACE_WITH_ZOOM_TOKEN" }]
        },
        "options": {}
      },
      "id": "rm-004",
      "name": "Get Zoom Participants",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 700]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "value": "REPLACE_WITH_SHEET_ID", "__rl": true, "mode": "id" },
        "sheetName": { "value": "Employees", "__rl": true, "mode": "name" },
        "options": {}
      },
      "id": "rm-005",
      "name": "Read Employee List",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1120, 700],
      "credentials": { "googleSheetsOAuth2Api": { "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "jsCode": "const merged   = $('Parse Merged Data').first().json;\nconst zoomData = $('Get Zoom Participants').first().json;\nconst employees = $input.all();\n\nconst attendees = new Set(\n  (zoomData.participants || []).map(p => (p.user_email || '').toLowerCase())\n);\n\nconst PLAYER_BASE = 'https://dancrrza.github.io/pragmatico-automations/player.html';\nconst videoEncoded = encodeURIComponent(merged.videoUrl);\nconst titleEncoded = encodeURIComponent(merged.sessionTitle);\n\nconst rows = employees.map(emp => {\n  const name  = emp.json['Name']  || '';\n  const email = emp.json['Email'] || '';\n  const attendedLive = attendees.has(email.toLowerCase()) ? 'YES' : 'NO';\n  const link = `${PLAYER_BASE}?v=${videoEncoded}&s=${merged.meetingId}&e=${encodeURIComponent(email)}&d=${merged.sessionDate}&t=${titleEncoded}`;\n  return { json: { name, email, attendedLive, link, sessionDate: merged.sessionDate, sessionTitle: merged.sessionTitle, meetingId: merged.meetingId } };\n});\n\nconsole.log('[Session tab] employees:', rows.length, '| attendees:', attendees.size);\nreturn rows;"
      },
      "id": "rm-006",
      "name": "Build Session Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 700]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "value": "REPLACE_WITH_SHEET_ID", "__rl": true, "mode": "id" },
        "sheetName": { "value": "={{ $json.sessionDate }}", "__rl": true, "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name":          "={{ $json.name }}",
            "Email":         "={{ $json.email }}",
            "Attended Live": "={{ $json.attendedLive }}",
            "Video Link":    "={{ $json.link }}",
            "Watched":       "NO",
            "% Watched":     "0",
            "First Opened":  "",
            "Last Activity": "",
            "Completed":     "NO"
          }
        },
        "options": { "cellFormat": "USER_ENTERED" }
      },
      "id": "rm-007",
      "name": "Create Session Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1560, 700],
      "credentials": { "googleSheetsOAuth2Api": { "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Pragmatico Session Recording — {{ $json.sessionDate }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:sans-serif;max-width:600px;margin:0 auto;padding:24px\">\n  <h2 style=\"color:#1a1a1a\">{{ $json.sessionTitle }}</h2>\n  <p style=\"color:#555\">{{ $json.sessionDate }}</p>\n  <hr style=\"border:none;border-top:1px solid #eee;margin:20px 0\">\n  <p>Hi {{ $json.name }},</p>\n  <p>{{ $json.attendedLive === 'YES' ? 'Thank you for attending today\\'s session. Your recording is now available.' : 'You missed today\\'s session. The recording is available for you to watch.' }}</p>\n  <p style=\"margin:28px 0\">\n    <a href=\"{{ $json.link }}\" style=\"background:#000;color:#fff;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:600\">Watch Recording</a>\n  </p>\n  <p style=\"color:#888;font-size:13px\">This link is unique to you. Please do not share it.</p>\n  <hr style=\"border:none;border-top:1px solid #eee;margin:20px 0\">\n  <p style=\"color:#aaa;font-size:12px\">Pragmatico</p>\n</div>",
        "options": {}
      },
      "id": "rm-008",
      "name": "Send Email to Employee",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1780, 700],
      "credentials": { "gmailOAuth2": { "name": "Gmail" } }
    }
  ],
  "connections": {
    "Video Watch Webhook": { "main": [[{ "node": "Respond 200", "type": "main", "index": 0 }]] },
    "Respond 200": { "main": [[{ "node": "Parse Watch Event", "type": "main", "index": 0 }]] },
    "Parse Watch Event": { "main": [[{ "node": "Find Employee Row", "type": "main", "index": 0 }]] },
    "Find Employee Row": { "main": [[{ "node": "Calculate Update", "type": "main", "index": 0 }]] },
    "Calculate Update": { "main": [[{ "node": "Skip if not found?", "type": "main", "index": 0 }]] },
    "Skip if not found?": { "main": [[{ "node": "Update Watch Data", "type": "main", "index": 0 }], []] },
    "Recording Merged Webhook": { "main": [[{ "node": "Respond 200 (Merged)", "type": "main", "index": 0 }]] },
    "Respond 200 (Merged)": { "main": [[{ "node": "Parse Merged Data", "type": "main", "index": 0 }]] },
    "Parse Merged Data": { "main": [[{ "node": "Get Zoom Participants", "type": "main", "index": 0 }]] },
    "Get Zoom Participants": { "main": [[{ "node": "Read Employee List", "type": "main", "index": 0 }]] },
    "Read Employee List": { "main": [[{ "node": "Build Session Rows", "type": "main", "index": 0 }]] },
    "Build Session Rows": { "main": [[{ "node": "Create Session Tab", "type": "main", "index": 0 }]] },
    "Create Session Tab": { "main": [[{ "node": "Send Email to Employee", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": []
}
